.container{
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

@media only screen and (max-width:768px){
    .container{
        max-width: 729px;
        margin: 0 auto;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
    }
}