// FOOTER
.footer{
    margin-bottom: 88px;

    &_wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #293039;
        padding: 47px 0;
    }
    
    &__logo{
        width: 236px;
        height: 26px;
        margin-right: 103px;
    }
    
    &__list{
        display: flex;
        align-items: center;
        margin-right: 369px;
    }

    &__link{
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;
    }
    
    &__extra-links{
        display: flex;
        align-items: center;
        
    }
}

.footer__item + .footer__item{
    margin-left: 33px;
}

.footer__facebook-link + .footer__facebook-link{
    margin-left: 24px;
}

.facebook{
    width: 24px;
    height: 24px;
}

@media only screen and (max-width:768px){
    // FOOTER
.footer{
    margin-bottom: 72px;

    &_wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        background-color: #293039;
        // padding: 55px 191px 54px 215px ;
    }
    
    &__logo{
        width: 236px;
        height: 26px;
        margin: 0;
        margin-bottom: 33px;
    }
    
    &__list{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-bottom: 65px;
        
    }

    &__link{
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;
    }
    
    &__extra-links{
        display: flex;
        align-items: center;
        
    }
}

.footer__item + .footer__item{
    margin-left: 33px;
}

.footer__facebook-link + .footer__facebook-link{
    margin-left: 24px;
}

.facebook{
    width: 24px;
    height: 24px;
}
}